.grid-container {
  width: 40%;
  max-width: 500px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(179, 179, 179);
}

.box {
  width: 20px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(179, 179, 179);
}

.grid-container div {
  width: 10%;
  height: 10%;
  border: 1px solid black;
}

.boom {
  background-color: rgb(200, 20, 0);
}

.miss {
  background-color: #111;
}
