.button {
  font: inherit;
  color: #ffffff;
  cursor: pointer;
  background-color: #cf3607;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  text-align: center;
}

.button:hover,
.button:active {
  background-color: #e49f8e;
}
